.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  margin: 0;
  transition: opacity .6s;
}

.footer__column-link:hover {
  opacity: .6;
}

